<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password Success</title>
</head>
<body>
  <h1>Password reseteado exitosamente!</h1>
  <p>Este es tu código de reseteo: {{resetToken}}</p>
</body>
</html>






